# Test Report

The application was tested for given urls. The accuracy report is printed when the test file is run. The screenshot of the accuracy report is as follows:

